 .game-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('backgrounds/background.png');
    background-size: cover; /* Adjust as needed */
}

.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust the height as needed */
    background-color: #00ff00; /* Brown color for the ground */
}

.character {
    position: absolute;
    bottom: 5px; /* Adjust to position the character 5 pixels up */
}

.character img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

.jump {
    animation: jumpAnimation 0.5s ease-out;
}

.spike {
    position: absolute;
    bottom: 0;
    left: 100%; /* Start the spike outside the game container */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background-image: url('spike.png'); /* Replace 'spike.png' with the actual path to your spike image */
    background-size: cover; /* Adjust as needed */
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px); /* Increased jump height */
    }
    100% {
        transform: translateY(0);
    }
}
